body {
    display: block;
    /* margin: 8px; */
    background-color: #E6F0EC;
}

.Sidebar {
    width:10vw;
    background: #0f172a;
    color: white;
    padding: 20px;
    border-radius: 6px;
}
.search {
    width: 88.5vw;
       margin-top: -18px;
    height: 34px;
    border-radius: 8px;
    padding: 16px;
     background-color: #f1f3f6;
}
table{
    width: 88vw;
    border-radius: 16px;
    height:20vh;
}
th{
    background-color:grey;
}
tr:nth-child(even){
    background-color:rgb(237, 228, 228);
}
.boxContainer{
    display: flex;
}
.box {
    width: 18vw;
    margin: 40px 12px;
    border-radius: 6px;
    background-color: #f1f3f6;
    height: 30vh;
    padding: 10px;
}
.Jack {
   width: 26vw;
    margin-top: 40px;
    border-radius: 6px;
    background-color: #f1f3f6;
    height: 30vh;
}
.box1 {
    border-radius: 6px;
    background-color: #f1f3f6;
    height: 40vh;
}
.awesome {
    width: 27vw;
    margin: 0px 12px;
}
.financesummary {
    width: 61vw;
    margin: 0px 12px;
}
.tableWrap {
    margin-top: 20px;
    background-color: #f1f3f6;
    border-radius: 16px;
    padding: 20px;
    width:88vw;
}
.container {
    display: flex;
    height: 100vh;
}

.main {
    padding: 20px;
}